<div class="container">
    <input type="checkbox" id="checkbox-menu">

    <label for="checkbox-menu" (click)="menuToggle()">
      <span></span>
      <span></span>
      <span></span>
    </label>

    @if (menuState) {
      <div class="menuModal" [@inOutAnimationModal]></div>
      <div class="menuButtonsContainer" [@inOutAnimationMenu]>
          <div class="menuHeader">
              <div class="profileInfo">
                  <img src="{{userLogged.avatarUrl}}" alt="">
                  <h1>{{ userLogged.name }}</h1>
              </div>
          </div>
          <ul class="mainButtons">
            @for (item of itens.mainButtons; track $index) {
              <li>
                <app-hamburger-button [text]="item.text" [radioGroup]="'navButtons'" [checked]="item.checked" [route]="item.route">
                </app-hamburger-button>
              </li>

            }
          </ul>
      </div>
    }

</div>
