<div class="userContainer">
  @if (editing) {
    <div class="editingContainer">
      <select [(ngModel)]="selectedAvatar" (ngModelChange)="updateAvatarUrl()">
        @for (avatar of avatars; track $index) {
          <option [value]="avatar.url">{{avatar.nome}}</option>
        }
      </select>
      <input type="text" [(ngModel)]="user.name">
      <button (click)="saveChanges()">Salvar</button>
      <button (click)="cancelEditing()">Cancelar</button>
    </div>
  }
  @else {
    <div >
      @if (edit) {
        <div class="editOverlay" (click)="startEditing()"></div>
        <i class="fas fa-pencil-alt editIcon" alt=""></i>
      }
      <img class="avatarImg" src="{{ user.avatarUrl }}" alt="">
      <p (click)="startEditing()">{{user.name}}</p>
    </div>
  }
</div>
