.estrelas {
    display: flex;
    align-items: center;
}

.inline {
    display: inline-flex;
    margin-right: 10px;
    margin-bottom: 5%;

}

.estrelas i.fas:before {
    content: "\f005";
    color: #CCC;
}

.estrelas .checked i.fas:before {
    color: #FC0;
}

.label {
    margin-right: 5%;
    font-family: 'Arial Black', Times;
    font-size: 1.5vw;
    font-weight: bold;
    color: #FC0;
}
