<div class="container">
    <app-nav-bar-main (onSearch)="onSearch($event)"></app-nav-bar-main>
    <app-renderiza-midia [rota]="rota"></app-renderiza-midia>
    @if (appService.getUrlMidia()) {
      <app-online-player
      [videoUrl]="appService.getUrlMidia()">
      </app-online-player>

    }
    <!-- <app-rendereriza-filme [rota]="rota" (serieSelecionada)="onSerieSelected($event)" (filmeSelecionado)="onFilmeSelected($event)"></app-rendereriza-filme> -->
    <!-- @if (rota==='Séries' && !hasId) {
      <div class="cardsDisplacement">
          <app-category-carrousel [category]="'Séries'" [categoriasFilmes]="categoriasFilmes" [isCompleted]="true" [pesquisa]="pesquisa" [isSearchEnabled]="true"></app-category-carrousel>
          <app-category-carrousel [category]="'Em andamento'" [categoriasFilmes]="categoriasFilmes" [isCompleted]="false"></app-category-carrousel>
      </div>
    } -->
    @if (rota ==='Filmes' && !hasId) {
      <div class="cardsDisplacement">
        @for (categoria of categoriasFilmes; track $index) {
          <app-category-carrousel [category]="categoria" [categoriasFilmes]="categoriasFilmes" [pesquisa]="pesquisa" [isSearchEnabled]="true"></app-category-carrousel>
        }
      </div>
    }
    <!-- @if (serieSelecionada) {
      <div class="cardsDisplacement">
        @for (season of serieSelecionada.season; track $index) {
          <ng-container>
            @if (season) {
              <app-category-carrousel [category]="(season.numSeason | number: '1.0-0') + 'ª Temporada'" [seasonSelecionada]="season">
              </app-category-carrousel>
            }
          </ng-container>

        }
      </div>
    } -->
</div>
