<div class="container">
  <h2>{{ category }}</h2>
  @if (!seasonSelecionada && !categoriasFilmes.includes(category)) {
    <div class="wrapper">
      @for (serie of seriesFiltradas; track $index) {
        <div>
          <app-series-card
            [serieObj]="serie"></app-series-card>
        </div>
      }
    </div>
  }

  @if (seasonSelecionada) {
    <div class="wrapper">
      @for (episode of seasonSelecionada.episode; track $index) {
        <div>
          <app-series-card
            [episodeObj]="episode" [iconSeason]="seasonSelecionada.seasonBack"></app-series-card>
        </div>
      }
    </div>
  }

  @if (!seasonSelecionada && categoriasFilmes.includes(category)) {
    <div class="wrapper">
      @for (filme of filmesFiltrados; track $index) {
        <div >
          <app-series-card
            [filmeObj]="filme"></app-series-card>
        </div>
      }
    </div>
  }
</div>
