@if (filmeBanner) {
  <div class="container filmeContainer" [ngStyle]="{ 'background-image': 'url(' + filmeBanner.background+ ')', 'background-size': 'cover', 'background-position': 'center center' }">
    <div class="overlay"></div>
    <div class="containerMain">
      <section class="containerImgName">
        <h2 class="titleFilme">{{filmeBanner.nameBr}}</h2>
      </section>
      <section>
        <div class="topBrasil">
          <p class="topDez">
            TOP 10
          </p>
          <p class="topDez2">Lançamentos</p>
        </div>
        <div class="modal-infos">
          @if (filmeBanner.year) {
            <div class="modal-infos-year">
              {{ filmeBanner.year }}
            </div>
          }
          @if (filmeBanner.minAge) {
            <div class="modal-infos-minAge"
            [ngClass]="{
              'min-ageAll': filmeBanner.minAge < 13,
              'min-age13': filmeBanner.minAge >= 13 && filmeBanner.minAge < 16,
              'min-age16': filmeBanner.minAge >= 16 && filmeBanner.minAge < 18,
              'min-age18': filmeBanner.minAge >= 18}"
            >
              <p>{{ filmeBanner.minAge }}</p>
            </div>
          }
          @if (filmeBanner.time) {
            <div class="modal-infos-time">
              {{ secondsToHms(filmeBanner.time) }}
            </div>
          }
        </div>
        <div class="modal-details">
          <div class="modal-details-item">
            <div>
              <span>Gênero:&nbsp;</span>
              {{ filmeBanner.genre }}
            </div>
          </div>
        </div>
        <div class="containerDescrip">
          <p>
            {{filmeBanner.description}}
          </p>
          <app-estrelas [rating]="filmeBanner.rating" (onRatingChange)="onRatingChanged($event)"></app-estrelas>
          <!-- @if (rota !== 'NovofilmeBanner' && rota !== 'NovaSerie') { -->
            <div class="btnContainer">
              <!-- @if (!ocultaBotaoAssistir) { -->
                <button class="btn1"  (click)="abrirPlayer(filmeBanner)"><i class="fa-solid fa fa-play"></i><p>Assistir Offline</p></button>
                <button class="btn5"  (click)="playVideo(nomeVideo)"><i class="fa-solid fa fa-play"></i><p>Assistir Online</p></button>
              <!-- } -->
              <button class="btn2" (click)="avaliar()"><i class="far fa-star"></i><p>Avaliar</p></button>
              @if (id!==0) {
                @if (rota!== 'Início') {
                  <button class="btn4" (click)="editar()"><i class="fa-solid fa-pen-to-square"></i><p>Editar</p></button>
                }
                @if (rota=== 'Filmes') {
                  <button class="btn3" (click)="remover()"><i class="fa-solid fa-trash"></i><p>Remover</p></button>
                }
              }
            </div>
          <!-- } -->

        </div>
      </section>
      <!--  @if ((rota === 'NovoFilme'|| rota === 'NovaSerie') || modoEdicao) { -->
      @if (modoEdicao) {
        <section class="form-container cadastro" >
          <!-- @if (!modoEdicao) {
            <h2 class="tituloCadastro">Cadastrar</h2>
          }@else { -->
            <h2 class="tituloCadastro">Editar</h2>
          <!-- } -->
          <div class="form-column cadastrar">
            <div class="form-column" >
              <!-- @if (rota === 'NovaSerie' || rota==='Séries') {
                <h3 class="subtitulo">SÉRIE</h3>
              } -->
              <h3>TMDB:</h3>
              <input type="text" [(ngModel)]="filmeBanner.tmdb"  class="form-input" style="background-color: transparent;">
              <h3>Imagem de Fundo:</h3>
              <input type="text" [(ngModel)]="filmeBanner.background" class="form-input" style="background-color: transparent;">
              <h3>Nome Nacional:</h3>
              <input type="text" [(ngModel)]="filmeBanner.nameBr"  class="form-input" style="background-color: transparent;">
              <h3>Nome Original:</h3>
              <input type="text" [(ngModel)]="filmeBanner.name"  class="form-input" style="background-color: transparent;">
              <h3>Ano:</h3>
              <input type="text" [(ngModel)]="filmeBanner.year"  class="form-input" style="background-color: transparent;">
              <h3>Imagem Cartaz:</h3>
              <input type="text" [(ngModel)]="filmeBanner.thumbnail"  class="form-input" style="background-color: transparent;">
              <!-- @if (rota === 'NovoFilme' || (modoEdicao && rota === 'Filmes')) { -->
                <h3 >Armazenamento:</h3>
                <input type="text" [(ngModel)]="filmeBanner.storage"  class="form-input" style="background-color: transparent;">
              <!-- } -->
              <h3>Gênero:</h3>
              <input type="text" [(ngModel)]="filmeBanner.genre"  class="form-input" style="background-color: transparent;">
              <h3>Avaliação:</h3>
              <input type="text" [(ngModel)]="filmeBanner.rating" placeholder="Avaliação" class="form-input" style="background-color: transparent;">
              <h3>Classificação Indicativa:</h3>
              <input type="text" [(ngModel)]="filmeBanner.minAge" placeholder="Classificação Indicativa" class="form-input" style="background-color: transparent;">
              <h3>Duração:</h3>
              <input type="text" [(ngModel)]="filmeBanner.time" placeholder="Duração" class="form-input" style="background-color: transparent;">
              <!-- @if (rota === 'NovaSerie' || rota==='Séries') {
                <label for="completed">Completa:</label>
                <input type="checkbox" [(ngModel)]="serie.completed" id="completed">
              } -->
              <div></div>
              <h3>Sinopse:</h3>
              <textarea [(ngModel)]="filmeBanner.description" class="form-input" style="background-color: transparent; width: 84.5%; height: 100px;"></textarea>
              <div></div>
              <!-- @if (rota === 'NovaSerie' || rota==='Séries') {
                <h3 class="subtitulo">TEMPORADAS</h3>
              }
              @if (serie) {
                <div class="form-column" >
                    <h3>Selecione uma Temporada:</h3>
                    <select class="form-input" [(ngModel)]="idTemp" (ngModelChange)="onSeasonSelected()" style="background-color: transparent;">
                      <option value="">Nova</option>
                      @for (season of serie.season; track $index) {
                        <option [value]="season.id">{{ season.numSeason }}ª Temporada</option>
                      }
                    </select>
                    @if (temporada) {
                      <div >
                          <h3>Número da Temporada:</h3>
                          <input type="text" [(ngModel)]="temporada.numSeason" placeholder="Número da Temporada" class="form-input" style="background-color: transparent;">
                          <h3>Cartaz:</h3>
                          <input type="text" [(ngModel)]="temporada.seasonBack" placeholder="Cartaz" class="form-input" style="background-color: transparent;">
                      </div>
                      <div></div>
                      <h3 class="subtitulo">EPISÓDIOS</h3>
                      <div class="form-column">
                        <h3>Selecione um Episódio:</h3>
                        <select class="form-input" [(ngModel)]="idEpisode" (ngModelChange)="onEpisodeSelected()" style="background-color: transparent;">
                          <option value="">Novo</option>
                          @for (episode of temporada.episode; track $index) {
                            <option [value]="episode.id">Episódio {{ episode.numEpisode }}</option>
                          }
                        </select>
                        @if (episodio) {
                          <div>
                              <h3>Número do Episódio:</h3>
                              <input type="text" [(ngModel)]="episodio.numEpisode" placeholder="Número do Episódio" class="form-input" style="background-color: transparent;">
                              <h3>Nome do Episódio:</h3>
                              <input type="text" [(ngModel)]="episodio.nameEpisode" placeholder="Nome do Episódio" class="form-input" style="background-color: transparent;">
                              <h3>Link:</h3>
                              <input type="text" [(ngModel)]="episodio.storage" placeholder="Link do Episódio" class="form-input" style="background-color: transparent;">
                          </div>
                        }
                      </div>
                    }
                </div>
              } -->
            </div>
          </div>
          <section class="buttonContainer">
            <button type="button" class="btnNetflix" (click)="salvar()">Salvar</button>
          </section>
        </section>
      }
    </div>
  </div>
}


