<div class="container">
    <app-nav-bar></app-nav-bar>
    <section class="mainContainer">
        <div class="containerOne">
            <section class="titleContainer">
                <h1>Catálogo.</h1>
                <h3>Servidor com o catálogo digital contendo todos os meus arquivos de filmes e séries.</h3>
            </section>
            <section class="buttonContainer">
                <h4>Pronto para assistir? Clique no botão abaixo para ser redirecionado.</h4>
                <button type="button" class="btnNetflix" (click)="entrar()">Entrar</button>
            </section>
        </div>

    </section>
</div>
